<form class="example-form" [formGroup]="forma">
  <mat-form-field >
    <input matInput placeholder="Titulo" formControlName="titulo">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea rows="3" matInput placeholder="Descripcion" formControlName="desc"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="guardarCambios()">Editar</button>
  <button mat-raised-button color="warn" type="button" (click)="onNoClick()">Cancelar</button>

</form>
